# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  25  95  61  18
1  27  80  93   5
2   5  40  50  10
3   1  93  94  17
4  65  49   3  35
5  17  52   4   8
DataFrame with new index:
     B   C   D
A
25  95  61  18
27  80  93   5
5   40  50  10
1   93  94  17
65  49   3  35
17  52   4   8

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [2]:
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  70  61  39
Y  10  52  25
Z  14  41  53
Element at row 'Y' and column 'B': 52

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [3]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  98   5  87
1  69  24  75
2  95  37  88
3  66  81  38
4  39  69  57
DataFrame with new column:
    A   B   C     D
0  98   5  87   490
1  69  24  75  1656
2  95  37  88  3515
3  66  81  38  5346
4  39  69  57  2691

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [4]:
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  31  35  16
1  54   5  53
2  85  16  12
3  35  82  29
Row-wise sum:
0     82
1    112
2    113
3    146
dtype: int64
Column-wise sum:
A    205
B    138
C    110
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [5]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  43  36  90
1  45  57  21
2  32  69  59
3  13   6  85
4  48  49  45
DataFrame with NaN values:
      A     B     C
0  43.0   NaN  90.0
1  45.0  57.0  21.0
2  32.0  69.0   NaN
3  13.0   6.0  85.0
4   NaN  49.0  45.0
DataFrame with NaN values filled:
       A      B      C
0  43.00  45.25  90.00
1  45.00  57.00  21.00
2  32.00  69.00  60.25
3  13.00   6.00  85.00
4  33.25  49.00  45.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [6]:
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  18  33  14  27
1  36   3  52  54
2  63  16  27  52
3  60  33  79  64
4  78  93  14  11
5  81  73  88  15
DataFrame with NaN values:
      A     B     C   D
0  18.0  33.0  14.0  27
1  36.0   3.0   NaN  54
2  63.0  16.0  27.0  52
3   NaN  33.0  79.0  64
4  78.0  93.0  14.0  11
5  81.0   NaN  88.0  15
DataFrame with NaN values dropped:
      A     B     C   D
0  18.0  33.0  14.0  27
2  63.0  16.0  27.0  52
4  78.0  93.0  14.0  11

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [7]:
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        C     30
1        A     76
2        C     11
3        B     69
4        A     47
5        A     55
6        B     80
7        B     63
8        A     68
9        B     94
Grouped DataFrame:
          sum  mean
Category
A         246  61.5
B         306  76.5
C          41  20.5

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [8]:
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod2        A     25
1   Prod1        B     51
2   Prod2        C      8
3   Prod3        B     16
4   Prod2        B     80
5   Prod2        A     15
6   Prod3        B     85
7   Prod2        B     21
8   Prod3        A      3
9   Prod2        B     99
Grouped DataFrame:
Category
A     43
B    352
C      8
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [9]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      99
1   B       5
2   C      75
3   D      50
DataFrame 2:
  Key  Value2
0   A      82
1   B      62
2   C      77
3   E      65
Merged DataFrame:
  Key  Value1  Value2
0   A      99      82
1   B       5      62
2   C      75      77

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [11]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  66  58
1  42  51
2  60  21
DataFrame 2:
    C   D
0  19  50
1  72  52
2  99  11
Concatenated DataFrame (rows):
      A     B     C     D
0  66.0  58.0   NaN   NaN
1  42.0  51.0   NaN   NaN
2  60.0  21.0   NaN   NaN
0   NaN   NaN  19.0  50.0
1   NaN   NaN  72.0  52.0
2   NaN   NaN  99.0  11.0
Concatenated DataFrame (columns):
    A   B   C   D
0  66  58  19  50
1  42  51  72  52
2  60  21  99  11

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [14]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('ME').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    22
2022-01-02     8
2022-01-03    69
2022-01-04    76
2022-01-05     8
...          ...
2022-12-27    27
2022-12-28    96
2022-12-29    67
2022-12-30    57
2022-12-31    35

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  43.967742
2022-02-28  53.607143
2022-03-31  50.354839
2022-04-30  46.166667
2022-05-31  50.709677
2022-06-30  51.833333
2022-07-31  48.290323
2022-08-31  48.838710
2022-09-30  56.500000
2022-10-31  42.225806
2022-11-30  58.533333
2022-12-31  49.580645

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [15]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    83
2021-01-02    94
2021-01-03    40
2021-01-04    23
2021-01-05    89
...          ...
2021-12-27    95
2021-12-28    79
2021-12-29    59
2021-12-30    87
2021-12-31     3

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  39.714286
2021-12-28  50.142857
2021-12-29  44.714286
2021-12-30  54.142857
2021-12-31  52.571429

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [16]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)
print("Indexing at Category 'A':")
print(df.loc['A'])
print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              25      19      18
         two              49      39      87
B        one              61      56      68
         two              60       8       6
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              25      19      18
two              49      39      87
Slicing at Category 'B' and SubCategory 'two':
Value1    60
Value2     8
Value3     6
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [17]:
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              62      31      84
         two              18      53      10
B        one              81      60      88
         two              18      69       2
C        one              67      80      83
         two              77       2      58
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              62      31      84
         two              18      53      10
B        one              81      60      88
         two              18      69       2
C        one              67      80      83
         two              77       2      58

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [19]:
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-08        C     24
1  2022-01-08        A     75
2  2022-01-01        B     32
3  2022-01-10        A     54
4  2022-01-09        B     11
5  2022-01-02        B     62
6  2022-01-04        C     63
7  2022-01-03        A     84
8  2022-01-01        A     83
9  2022-01-04        C     85
10 2022-01-04        B     11
11 2022-01-07        C     57
12 2022-01-01        A     88
13 2022-01-08        B     39
14 2022-01-09        A     17
15 2022-01-04        B     46
16 2022-01-06        C     82
17 2022-01-02        C     87
18 2022-01-05        A     68
19 2022-01-09        B      6
Pivot Table:
Category        A     B      C
Date
2022-01-01  171.0  32.0    NaN
2022-01-02    NaN  62.0   87.0
2022-01-03   84.0   NaN    NaN
2022-01-04    NaN  57.0  148.0
2022-01-05   68.0   NaN    NaN
2022-01-06    NaN   NaN   82.0
2022-01-07    NaN   NaN   57.0
2022-01-08   75.0  39.0   24.0
2022-01-09   17.0  17.0    NaN
2022-01-10   54.0   NaN    NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [20]:
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2022      Q2      656
1   2022      Q1      744
2   2021      Q2      484
3   2020      Q2      545
4   2020      Q1      470
5   2020      Q3      704
6   2020      Q3      131
7   2021      Q2      350
8   2020      Q3      670
9   2020      Q1       83
10  2022      Q1      787
11  2020      Q1      328
Pivot Table:
Quarter          Q1     Q2          Q3
Year
2020     293.666667  545.0  501.666667
2021            NaN  417.0         NaN
2022     765.500000  656.0         NaN

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [22]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)
df_doubled = df.map(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  53  38  43
1  25   5  86
2  48  24  25
3  87  58  84
4  26  49  43
Doubled DataFrame:
     A    B    C
0  106   76   86
1   50   10  172
2   96   48   50
3  174  116  168
4   52   98   86

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [23]:
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  29  69  51
1  45  77  92
2  62   5  49
3  65  85  42
4   4  11  36
5  38  84  68
DataFrame with Sum column:
    A   B   C  Sum
0  29  69  51  149
1  45  77  92  214
2  62   5  49  116
3  65  85  42  192
4   4  11  36   51
5  38  84  68  190

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [24]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [25]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object